*,
html {
  box-sizing: content-box;
  margin: 0;
}

body {
  height: 80vh;
}

.container {
  display: flex;
  position: relative;
}

.banner {
  height: 80vh;
  width: 500px;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 250px 250px;
  position: absolute;
  left: -70px;
}

.phone {
  height: 500px;
  width: 250px;
  position: absolute;
  left: 450px;
  top: 150px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 9px 11px 23px 10px rgba(0, 0, 0, 0.27);
}

.phone-container {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin: 10px;
  width: 91%;
}

.phone-heading {
  background: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );

  position: relative;
  border-radius: 25px 25px 5px 5px;
}

.phone-heading-gap {
  background-color: #fff;
  height: 20px;
  width: 145px;
  position: absolute;
  top: -2px;
  left: 17%;
  border-radius: 0 0 20px 20px;
}

.heading-container {
  display: flex;
  margin: 30px 20px;
  font-size: 10px;
  color: #fff;
  justify-content: space-between;
}

.heading-container-left {
  display: flex;
}

.heading-image img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: 0 5px;
}

.heading-arrow {
  border-left: 1px solid;
  border-top: 1px solid;
  height: 7px;
  width: 7px;
  transform: rotate(-45deg);
  justify-items: center;
  margin-top: 10px;
}

.heading-name {
  font-weight: bold;
  font-size: 12px;
  color: hsl(276, 100%, 81%);
}

.heading-subtitle {
  font-size: 8px;
  margin-top: 4px;
  color: hsl(276, 100%, 81%);
}

.heading-hamburger {
  margin-top: 5px;
}

.heading-hamburger div {
  width: 2px;
  height: 2px;
  background-color: #fff;
  margin: 2px;
}

.phone-body {
  background-color: black;
}
